@model Cloud_FinalTwo.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ordered_Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ordered_Products)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order_total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order_total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.order_Qaunt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.order_Qaunt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isProcessed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isProcessed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.order_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
